*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  width: 100vw;
}

body {
  min-height: inherit;
  width: inherit;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
}

.App {
  min-height: inherit;
  width: inherit;
  padding: 1rem;
}
